body {
  position: relative;
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Abel', sans-serif;
  align-items: center;
  justify-content: center;
}

.gradient-mesh {
  position: relative;
  display: flex;
  width: 70vh;
  max-width: 80vw;
  height: 70vh;
  max-height: 80vw;
  color: #fff;
  font-size: 5vh;
  align-items: center;
  justify-content: center;
  box-shadow: 2vh 2vh 6vh 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.gradient-mesh.editing {
  cursor: default;
}

.gradient-mesh canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.gradient-mesh.editing .control-point {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: #00000055;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.gradient-mesh .control-point.active {
  background-color: #ffffff;
  border-color: #000;
}

.color-editor {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 40px;
}

.color-editor input {
  margin-bottom: 10px;
  padding: 5px;
}

.color-editor__indicator {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}